In [3]:
print("python")

python

# Python 
## Python
### Pyhton
#### Python 
##### Python
##### Python
###### Python
**bold**
*italic*
__bold__

1. gvpce
2. au
3. vignans
4. gitam
5. lendi
    1. pydah
    2. Aditya
 
this is paragraph.

firstline.

secondline.

#### Comments in python

In [4]:
# comment is a programmer readable explanation
#comment

In [5]:
'''Mutliple line comments
   fisrtline
   secondline'''

'Mutliple line comments\n   fisrtline\n   secondline'

In [6]:
# creating a variable and assigning a value
a = 10
b=12
print(a)
print(b)
print("a")
print("b")

10
12
a
b

In [7]:
a=b
print(a)
print(b)

12
12

In [8]:
a=10
a=b
print(a)
print(b)

12
12

In [9]:
# datatypes
#integers--general numbers--int--12,10,58,45689
#num with decimal points--float--1.23,45.6,89.2
#complex numbers---1+2j---complex
#group of words ----strings--"jjsdfjf",'jnfgjjbh'
# bool True or False
a=12
b=1.23
c="jfhjkveb"
d=1+2j
e=True

In [10]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

In [11]:
b

1.23

#### Type casting
-convert one datatype into other datatype

In [12]:

print(int(b))

1

In [13]:
print(float(a))

12.0

In [14]:
a=12
print(type(a))
b=str(a) 
print(type(b))

<class 'int'>
<class 'str'>

In [15]:
a=10
a=b
print(a)
print(type(a))

12
<class 'str'>

In [16]:
b=a
print(b)

12

In [17]:
# input and output
input()

12

'12'

In [18]:
a=input()

12

In [19]:
print(a)

12

In [20]:
print("enter the number")
a=input()
print(a)

enter the number
12
12

In [21]:
a=input("enter a number")
print(a)

enter a number12
12

SyntaxError: can't assign to literal (<ipython-input-24-5cf053e42b67>, line 1)