Raghav is currently watching Netflix. He is feeling thrilled after watching Seasons 1, 2 and 3 of 13 Reasons Why, and is desperately waiting for release of Season 4. But the makers of the show are in no mood to release the next season anytime soon. 

The makers of 13 Reasons Why give Raghav a challenge to solve. If he solves this challenge, then they will give exclusive copy of Season 4 to him.

But Raghav is feeling lazy. Can you help him solve this challenge?

Given 3 integers A, B, C. Do the following steps-

Swap A and B.
Multiply A by C.
Add C to B.
Output new values of A and B.

SAMPLE INPUT 
13 5 2
SAMPLE OUTPUT 
10 15



#a=13   #a=5
b=5      b=13
c=2

In [9]:
a=int(input())
b=int(input())
c=int(input())
temp=a   
a=b
b=temp
#print("the value a is:",a)
#print("the value of b is :",b)
a=a*c
b=b+c
print(a,b)

13
5
2
10 15

In [10]:
print(a,b)
print(a,b,sep=" ")
print(a,b,end="\t")

10 15
10 15
10 15

In [11]:
print(a,end=" ")
print(b)

10 15

### Conditional Statemets
1. If,else,elif,nested if

if condition:
   statement1
   statement2
   statement3

In [18]:
# write a program to check whether is given num is positive
num=-100
if num>0:
    print("positive number")
print("end of program")

end of program

if condition:
    statements
else:
    statements

In [20]:
#whether the num is positive or negative
num=int(input("enter a number"))
if (num>0):
    print("positive")
    
else:
    print("negative")

enter a number-25
negative

if condition:
    statements
elif condition:
    statements
else:
    statements

In [21]:
#whether the given is positive or negative or zeero
num=int(input("enter a num"))
if num>0:
    print("pos")
elif num<0:
    print("neg")
else:
    print("zeero")

enter a num0
zeero

#nested if 
if condition:
    if condition:
        statements
else:
    statements

In [1]:
# check whether a given is in the range of 20 and 50
num=int(input())
if num>20:
    if num<50:
        print("num is in the range of 20 and 50")
    else:
        print("num is not in the range")
else:
    print("num is not in the given range")

89
num is not in the range

In [2]:
num=int(input())
if num>20 and num<50:
    print("num is in range")
else:
    print("num is not in range")

25
num is in range

write a program to check whether the given num is divisible by 2 but not 10

In [8]:
num=int(input())
if num%2==0 and num%10!=0:
    print("valid")
else:
    print("invalid")

2
valid

In [30]:
for i in range(5):
    num=int(input())
    if num%2 is 0 and num%10 is not 0:
        print("valid")
    else:
        print("invalid")

12
valid
50
invalid
10
invalid
25
invalid
18
valid

### Loops
1. for 
2. while

In [11]:
print(5)
print(5)
print(5)
print(5)
print(5)

5
5
5
5
5

range(start,end,step)
range(0,5-1,1)
0
1
2
3
4
range(5)
0
1
2
3
4
range(1,6)
1
2
3
4
5
range(2,11,2)
2
4
6
8
10

In [17]:
range(1,10)

range(1, 10)

In [18]:
for var in range(10):
    print(var)
    
#var=0
#var=1
#......
#var=9

0
1
2
3
4
5
6
7
8
9

In [20]:
for var in range(1,11):
    print(var)

1
2
3
4
5
6
7
8
9
10

In [21]:
for var in range(1,11,2):
    print(var)
    
#var=1   1+2=3
#var=3  3+2=5
#var=5

1
3
5
7
9

In [25]:
for i in range(5):
    print(5)

5
5
5
5
5

In [26]:
for i in range(1,6):
    print(5)

5
5
5
5
5

In [32]:
for i in range(2,7):
    print("abhishek")

abhishek
abhishek
abhishek
abhishek
abhishek

In [28]:
for i in range(100,105):
    print(5)

5
5
5
5
5