#### Loops

In [1]:
for var in range(5):
    print("python")

python
python
python
python
python

In [2]:
for var in range(1,6,1):
    print("python")

python
python
python
python
python

In [4]:
for var in range(6,1,-1):
    print("python",end=",")

python,python,python,python,python,

In [5]:
for var in range(6,1,-1):
    print("python",end=" ")

python python python python python

In [ ]:
# Nested loops
for i in range(3):
    for j in range(2):
        print("hello",end=" ")
# i=0 
# j=0 "hello"
# j=1 "hello"

# i=1
# j=0 "hello"
# j=1 "hello"

# i=2
# j=0 "hello"
# j=1 "hello"

#### while loop

In [1]:
i=0
while i<=4:
    print("python")
    i=i+1

python
python
python
python
python

In [ ]:
# to iterate infinite times
while (1):
    print("python")

In [2]:
# continue,break,pass
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [3]:
#print the numbers from the range 1 to 100 which are not multiples of 3
#using continue
for i in range(1,101):
    if i%3==0:
        continue
    print(i,end=",")

1,2,4,5,7,8,10,11,13,14,16,17,19,20,22,23,25,26,28,29,31,32,34,35,37,38,40,41,43,44,46,47,49,50,52,53,55,56,58,59,61,62,64,65,67,68,70,71,73,74,76,77,79,80,82,83,85,86,88,89,91,92,94,95,97,98,100,

In [4]:
#break
for i in range(50,101):
    if i%3==0:
        break
    print(i)

50

In [1]:
#prompt the user to enter the integer inputs.
#if user enters 0 stop the execution and print the numbers
while 1:
    a=int(input("enter a number"))
    if a==0:
        break
    print(a)

enter a number2
2
enter a number3
3
enter a number4
4
enter a number0

In [3]:
#pass 
i=2
if i==2:
    pass

In [5]:
# write a program to print the natural  numbers from the given range inclusive
lb=int(input("enter a lower bound"))
ub=int(input("enter a upper bound"))
for i in range(lb,ub+1):
    print(i,end=" ")

enter a lower bound1
enter a upper bound100
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [8]:
#program to print the sum of first 10 natural numbers
#1+2+3+---10=55
#0+1=1
#1+2=3
#3+3=6......
#s=s+i
s=0
for i in range(1,11):
    s=s+i
print(s)

55

In [11]:
#program to find the product of first 10 natural numbers
p=1
for i in range(1,11):
    p=p*i
print(p)

3628800

### Functions
def functionName():   #Defining a function
    statement1
    statement2
    return 
    
functionname()  #function calling

-Reusability
-easy to debug

In [ ]:
a=10
b=20
print(a+b)

In [29]:
def add():
    a=10
    b=20
    return(a+b)
add()

30

In [30]:

def add(a,b):
    return a+b
add(a,b)

30

In [32]:
add(89,52)

141

In [34]:
a=int(input())
b=int(input())
add(a,b)

58
56

114