In [1]:
l=[10,20,30,40]
l[0]

10

In [2]:
l[0]=100

In [3]:
l

[100, 20, 30, 40]

#### Dictionaries
- unordered
- keys are immutable 
- values are mutable

In [5]:
d={}
print(type(d))

<class 'dict'>

In [6]:
d={"one":1,"two":2,"three":4,"four":5}

In [7]:
d[0]

KeyError: 0

In [8]:
d["two"]

2

In [9]:
d["four"]

5

In [10]:
d["three"]=3

In [11]:
d

{'one': 1, 'two': 2, 'three': 3, 'four': 5}

In [13]:
d={}
d["maths"]=52
d["m2"]=35
d["m1"]=65
print(d)

{'maths': 52, 'm2': 35, 'm1': 65}

In [14]:
d

{'maths': 52, 'm2': 35, 'm1': 65}

In [15]:
d["m1"]

65

In [16]:
d["m2"]=50

In [17]:
d

{'maths': 52, 'm2': 50, 'm1': 65}

In [18]:
d={"maths":[52,65,"hbcb",58],"m2":(35,45,67,89)}
d

{'maths': [52, 65, 'hbcb', 58], 'm2': (35, 45, 67, 89)}

In [19]:
d["maths"]

[52, 65, 'hbcb', 58]

In [20]:
d['maths'][1]

65

In [21]:
d={"emp":{"name":"python","state":"Andhra pradesh","course mode":"online"}}

In [22]:
d["emp"]

{'name': 'python', 'state': 'Andhra pradesh', 'course mode': 'online'}

In [23]:
d["emp"]["name"]

'python'

In [24]:
d["emp"]["state"]

'Andhra pradesh'

In [25]:
d={23:"aditya",42.6:"srkr",2:"au",3:"vignan",4:"gitam",56:"anits",72:"pydah"}
d

{23: 'aditya',
 42.6: 'srkr',
 2: 'au',
 3: 'vignan',
 4: 'gitam',
 56: 'anits',
 72: 'pydah'}

In [26]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [27]:
d

{23: 'aditya',
 42.6: 'srkr',
 2: 'au',
 3: 'vignan',
 4: 'gitam',
 56: 'anits',
 72: 'pydah'}

In [28]:
help(d.items)

Help on built-in function items:

items(...) method of builtins.dict instance
    D.items() -> a set-like object providing a view on D's items

In [29]:
d.items()

dict_items([(23, 'aditya'), (42.6, 'srkr'), (2, 'au'), (3, 'vignan'), (4, 'gitam'), (56, 'anits'), (72, 'pydah')])

In [30]:
d.keys()

dict_keys([23, 42.6, 2, 3, 4, 56, 72])

In [31]:
d.values()

dict_values(['aditya', 'srkr', 'au', 'vignan', 'gitam', 'anits', 'pydah'])

In [32]:
d

{23: 'aditya',
 42.6: 'srkr',
 2: 'au',
 3: 'vignan',
 4: 'gitam',
 56: 'anits',
 72: 'pydah'}

In [33]:
d[100]

KeyError: 100

In [35]:
print(d.get(100))

None

In [36]:
d.get(2)

'au'

In [37]:
d

{23: 'aditya',
 42.6: 'srkr',
 2: 'au',
 3: 'vignan',
 4: 'gitam',
 56: 'anits',
 72: 'pydah'}

In [38]:
d.pop(2)

'au'

In [39]:
d

{23: 'aditya', 42.6: 'srkr', 3: 'vignan', 4: 'gitam', 56: 'anits', 72: 'pydah'}

In [40]:
d.popitem()

(72, 'pydah')

In [41]:
d.popitem()

(56, 'anits')

In [42]:
d

{23: 'aditya', 42.6: 'srkr', 3: 'vignan', 4: 'gitam'}

In [43]:
d={1:1,2:2,3:4}
d1={"a":1,"b":2}
d.update(d1)
print(d)

{1: 1, 2: 2, 3: 4, 'a': 1, 'b': 2}

In [45]:
for i in d.keys():
    print(i,end=" ")

1 2 3 a b

In [47]:
for i in d.values():
    print(i,end=" ")

1 2 4 1 2

In [48]:
for i in d.items():
    print(i,end="\t")

(1, 1)	(2, 2)	(3, 4)	('a', 1)	('b', 2)

In [49]:
for key,value in d.items():
    print(key,end=" ")

1 2 3 a b

In [50]:
for key,value in d.items():
    print(key,value)

1 1
2 2
3 4
a 1
b 2

In [51]:
help(dict.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) method of builtins.type instance
    Create a new dictionary with keys from iterable and values set to value.

In [54]:
keys=["a","b","c"]
d=dict.fromkeys(keys)

In [55]:
d

{'a': None, 'c': None, 'b': None}

In [60]:
values=2
d=dict.fromkeys(keys,values)
d

{'a': 2, 'c': 2, 'b': 2}

In [61]:
values=[2,3,4,5]
d=dict.fromkeys(keys,values)
d

{'a': [2, 3, 4, 5], 'c': [2, 3, 4, 5], 'b': [2, 3, 4, 5]}

In [62]:
values=[[2,3],[4,5],[5,6]]
d=dict.fromkeys(keys,values)
d

{'a': [[2, 3], [4, 5], [5, 6]],
 'c': [[2, 3], [4, 5], [5, 6]],
 'b': [[2, 3], [4, 5], [5, 6]]}

In [64]:
#define a dictionary and print the product of values
d={'a':23,'b':42,"c":67}
p=1
for i in d.values():
    p=p*i
print(p)

64722

In [ ]:
#Summeronline
#frequecy count using dictionaries